#pragma code_page(65001)
#include "resource.h"

IDI_APPICON ICON "assets/app.ico"
1 24 "src/win/app.manifest"

1 VERSIONINFO
FILEVERSION 1,0,3,0
PRODUCTVERSION 1,0,3,0
FILEOS 0x40004
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName", "Ezana Saygı PRO"
      VALUE "FileDescription", "Ezan vakitlerinde sistem sesini kısar"
      VALUE "FileVersion", "1.0.3"
      VALUE "InternalName", "AdhanVolume"
      VALUE "OriginalFilename", "AdhanVolume.exe"
      VALUE "ProductName", "Ezana Saygı PRO"
      VALUE "ProductVersion", "1.0.3"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1200
  }
}
